<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aoya.mapper.AyUserMapper" >
  <resultMap id="BaseResultMap" type="com.aoya.domain.AyUser" >
    <id column="ayu_id" property="ayuId" jdbcType="INTEGER" />
    <result column="ayu_name" property="ayuName" jdbcType="VARCHAR" />
    <result column="ayu_phone" property="ayuPhone" jdbcType="VARCHAR" />
    <result column="ayu_update_time" property="ayuUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ayu_id, ayu_name, ayu_phone, ayu_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ay_user
    where ayu_id = #{ayuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ay_user
    where ayu_id = #{ayuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aoya.domain.AyUser" >
    insert into ay_user (ayu_id, ayu_name, ayu_phone,ayu_update_time)
    values (#{ayuId,jdbcType=INTEGER}, #{ayuName,jdbcType=VARCHAR}, #{ayuPhone,jdbcType=VARCHAR}, #{ayuUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aoya.domain.AyUser" >
    insert into ay_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ayuId != null" >
        ayu_id,
      </if>
      <if test="ayuName != null" >
        ayu_name,
      </if>
      <if test="ayuPhone != null" >
        ayu_phone,
      </if>
      <if test="ayuUpdateTime != null" >
        ayu_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ayuId != null" >
        #{ayuId,jdbcType=INTEGER},
      </if>
      <if test="ayuName != null" >
        #{ayuName,jdbcType=VARCHAR},
      </if>
      <if test="ayuPhone != null" >
        #{ayuPhone,jdbcType=VARCHAR},
      </if>
      <if test="ayuUpdateTime != null" >
        #{ayuUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aoya.domain.AyUser" >
    update ay_user
    <set >
      <if test="ayuName != null" >
        ayu_name = #{ayuName,jdbcType=VARCHAR},
      </if>
      <if test="ayuPhone != null" >
        ayu_phone = #{ayuPhone,jdbcType=VARCHAR},
      </if>
      <if test="ayuUpdateTime != null" >
        ayu_update_time = #{ayuUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ayu_id = #{ayuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aoya.domain.AyUser" >
    update ay_user
    set ayu_name = #{ayuName,jdbcType=VARCHAR},
      ayu_phone = #{ayuPhone,jdbcType=VARCHAR},
      ayu_update_time = #{ayuUpdateTime,jdbcType=TIMESTAMP}
    where ayu_id = #{ayuId,jdbcType=INTEGER}
  </update>
  <select id="selectUserByPhone" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from ay_user where ayu_phone = #{phone}
  </select>
  <select id="userList" resultType="java.util.Map">
    select ayu_id, ayu_name, ayu_phone, DATE_FORMAT(ayu_update_time,'%Y-%m-%d %H:%i:%s') ayu_update_time from ay_user
  </select>
</mapper>